# Supabase Backend Configuration (Conectado a tu proyecto de Supabase)
VITE_SUPABASE_URL="https://ngcijcmdhskpyohzbply.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_y5-ZnwvkZUgyIbRk-E0x2g__0_24h5i"

# Configuración de Envío Real de Correos vía Gmail SMTP (Recordatorios de PIN)
SMTP_SERVICE="gmail"
SMTP_USER="tu_correo@gmail.com"
SMTP_PASS="tu_contraseña_de_aplicacion_16_caracteres"
SMTP_FROM="AsistEvent SENA Bienestar"

# Configuración de EmailJS (Para GitHub Pages y aplicaciones estáticas)
VITE_EMAILJS_SERVICE_ID="service_0nk8bmq"
VITE_EMAILJS_TEMPLATE_ID="template_f6064rd"
VITE_EMAILJS_PUBLIC_KEY="RGrA7S9feEdXwjdEF"

