# Supabase Backend Configuration (Conectado a tu proyecto de Supabase)
VITE_SUPABASE_URL="https://ngcijcmdhskpyohzbply.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_y5-ZnwvkZUgyIbRk-E0x2g__0_24h5i"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://ais-dev-gjjuqwofitsregn23pnzu3-818635655549.us-east1.run.app"
